<footer id="footer">
    <div class="inner">
        <section>
            <h2>Есть вопросы? Свяжитесь с нами</h2>
            <form method="post" action="{% url 'users:feedback_processing'%}">
                {% csrf_token %}
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="feedback_name" id="feedback_name" placeholder="Имя" />
                    </div>
                    <div class="field">
                        <input type="tel" name="feedback_phone" id="feedback_phone" placeholder="Телефон" />
                    </div>
                    
                    <div class="field">
                        <textarea name="feedback_message" id="feedback_message" placeholder="Сообщение"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Отправить" class="primary" /></li>
                </ul>
            </form>
        </section>
        <section>
            <h2>Наши ресурсы</h2>
            <ul class="icons">
                <li><a href="https://t.me/+79686222266" class="icon brands style2 fa-telegram"><span class="label">Telegram</span></a></li>
                <li><a href="mailto:annaabo777@mail.ru" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
                <li><a href="https://vk.com/id570578759" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>
            
            <p><strong>Телефоны:</strong></p>
            <p>8 (985) 341 10 10</p>
            <p>8 (917) 580 04 00</p>
            
        </section>
    </div>
</footer>
