{% extends "base.html" %}

{% block content %}
{% load static %}
<h1>Новый ресторан в вашем городе!<br /></h1>
<p>Так же на сайте вы можете ознакомиться с нашем незабываемым меню</p>
<p>И еще вы можете оформить доставку прямо на сайте и уже в ближайший час заказ будет у вас</p>
<section class="tiles">
    {% for item in page_obj %}
    <article class="style{{ range|random }}">
        <span class="image">
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="" style="width: 353px; height: 326px;" />
        {% else %}
            <img src="{% static "images/pic01.jpg" %}" alt="" />
        {% endif %}
        </span>
        <a href="{% url 'store:item_details' item.slug %}">
            <div class="tag">
                <object> 
                    {% for tag in item.tags.all %}
                        <a href="{% url 'store:tag_details' tag.slug %}" style="color: white">{{ tag }}</a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </object><br />
            </div>
            <h2>{{ item.title }}</h2>
            <div class="content">
                <p>{{ item.description|truncatechars:150 }}</p>
            </div>
        </a>
    </article>
    {% endfor %}
</section>
{% endblock %} 