{% extends "base.html" %}

{% block content %}
{% load static %}
    <h2>Список всех категорий</h2>
    <hr>
    <style>
        .category-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .category-item img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-left: 20px; /* Отступ от текста */
        }

        .category-description {
            flex: 1; /* Занимает оставшееся пространство */
        }
    </style>
    {% for tag in page_obj %}
        <div class="category-item">
            <div class="category-description">
                <a href="{% url 'store:tag_details' tag.slug %}"><b>{{ tag.name }}</b></a>
                <p>{{ tag.description }}{{ tag.description }}</p>
            </div>
            {% if tag.image %}
                <img src="{{ tag.image.url }}" alt="{{ tag.name }}" />
            {% else %}
                <img src="{% static 'images/pic14.jpg' %}" alt="Placeholder" />
            {% endif %}
        </div>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
{% endblock %}
